.accordion {
    width: 50%;
    overflow: hidden;

    @media (max-width: 767px) {
        width: 100%;
    }

    .accordion-header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #000;
        align-items: center;
        cursor: pointer;
        font-size: 1 rem;
        font-weight: 400;

        &.disabled {
            cursor: not-allowed;
            color: #a0a0a0;
        }
    }

    .accordion-icon {
        transition: transform 0.3s ease;
        font-size: 1rem;

        &.open {
            transform: rotate(180deg);
        }
    }

    .accordion-content {
        display: none;
        overflow: hidden;
        border-bottom: 1px solid #000;

        &.open {
            display: block;
        }
    }
}
