.tab-container {
  padding-top: 100px;
  @media (max-width: 768px) {
    padding-top: 0;
  }
}

.react-tabs {
  &__tab-list {
    display: flex;
    padding-left: 40px;
    margin-bottom: 0;
    max-width: 60vw;
    position: relative;
  }

  &__tab {
    height: 80px;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 100 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    cursor: pointer;
    border: 1px solid #000000;
    flex-grow: 1;
    text-align: center;
    border-radius: 1rem 1.5rem 0 0;
    transition: all 0.3s ease;
    overflow-x: auto;
    white-space: nowrap;
    position: relative;

    &--selected {
      height: 100px;
      color: #000000;
      border: 1px solid #000000;
      border-bottom: none;
      margin-top: -20px;
      z-index: 1;
      padding-top: 20px;
      align-items: flex-start;
    }

    &:focus {
      border: 1px solid #000000;
      border-color: #000000;
      border-bottom: none;
      outline: none;
    }
  }
}
