.film-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 35px;
    padding-top: 50px;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        padding: 10px;
        padding-top: 50px;
    }
}
