.filter-component {
    width: 100%;
    overflow: hidden;

    .filter-header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #000;
        align-items: center;
        padding: 45px 40px;
        &.accordion-open {
            border-bottom: none;
        }
        .filter-title h1 {
            font-size: 3.75rem;
            line-height: 1;
        }
        .filter-icon {
            cursor: pointer;
            height: 3rem;
            width: 3rem;
        }

        @media (max-width: 767px) {
            padding: 50px 15px;
            .filter-title h1 {
                font-size: 32px;
            }
            .filter-icon {
                cursor: pointer;
                height: 45px;
                width: 45px;
            }
        }
    }

    .filter-accordion {
        padding: 40px 40px;
        width: 100%;
        background-color: #d4caff;
        display: flex;
        flex-wrap: wrap;
        border-radius: 0 0 40px 40px;
        border: none;
        gap: 20px;

        @media (max-width: 767px) {
            padding: 40px 15px;
        }

        .filter-header-accordion {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h3 {
                font-size: 1.875rem;
                line-height: 2.25rem;
            }

            img {
                cursor: pointer;
                height: 3rem;
                width: 3rem;
            }

            @media (max-width: 767px) {
                p {
                    font-size: 24px;
                }
                img {
                    cursor: pointer;
                    height: 30px;
                    width: 30px;
                }
            }
        }

        .filter-option {
            display: flex;
            flex: 1 1 50%;
            flex-direction: column;
            align-items: flex-start;
            box-sizing: border-box;
            padding: 20px 0;

            label {
                font-size: 1rem;
                line-height: 1.5rem;
                font-weight: 100;
            }
        }
        @media (max-width: 767px) {
            flex: 1 1 100%;
        }
    }
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin: 25px 0;

    input[type="checkbox"] {
        appearance: none;
        background-color: transparent;
        border: 1px solid #000;
        border-radius: 50%;
        width: 13px;
        height: 13px;
        margin-right: 13px;
        cursor: pointer;
        position: relative;
        transition:
            background-color 0.3s ease,
            border-color 0.3s ease;

        &:checked {
            background-color: transparent;
            border-color: black;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #000; // Black inner circle
            }
        }
    }

    label {
        margin: 0;
        font-size: 1rem;
        font-weight: 100;
    }
}
