.filter-component {
    width: 100%;
    // border-bottom: 1px solid #000;
    overflow: hidden;
    border-radius: 0 0 40px 40px;

    .filter-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 40px;
        .filter-title {
            font-size: 72px;
        }
        .filter-icon {
            cursor: pointer;
        }

        @media (max-width: 767px) {
            padding: 50px 10px;
            .filter-title {
                font-size: 32px;
            }
            .filter-icon {
                cursor: pointer;
                height: 45px;
                width: 45px;
            }
        }
    }

    .filter-accordion {
        padding: 40px 40px;
        width: 100%;
        background-color: #d4caff;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;

        .filter-header-accordion {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            p {
                font-size: 32px;
                font-weight: bold;
            }

            img {
                cursor: pointer;
            }
        }

        .filter-option {
            flex: 1 1 calc(50% - 20px);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px 0;

            label {
                font-size: 14px;
                font-weight: bold;
            }
        }

        .search-option {
            display: flex;
            flex: 1 1 calc(50% - 20px);
            box-sizing: border-box;
            align-items: flex-start;
            padding: 20px 0;
            width: 100%;
            justify-content: space-between;
        }
        .search-icon {
            cursor: pointer;
        }
    }
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin: 20px 0;

    input[type="checkbox"] {
        appearance: none;
        background-color: transparent;
        border: 1px solid #000;
        width: 15px;
        height: 15px;
        margin-right: 10px;
        cursor: pointer;
        border-radius: 50%;
        position: relative;
        transition:
            background-color 0.3s ease,
            border-color 0.3s ease;

        &:checked {
            background-color: transparent;
            border-color: black;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #000; // Black inner circle
            }
        }
    }

    label {
        margin: 0;
        font-size: 14px;
        font-weight: bold;
    }
}
