@import "../tailwind.css";
@font-face {
  font-family: "Matter";
  src:
    url("/src/assets/fonts/Matter-Regular.woff2") format("woff2"),
    url("/src/assets/fonts/Matter-Regular.woff") format("woff"),
    url("/src/assets/fonts/Matter-Regular.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Matter";
  src:
    url("/src/assets/fonts/Matter-Medium.woff2") format("woff2"),
    url("/src/assets/fonts/Matter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PanamaBold";
  src: url("/src/assets/fonts/Panama-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Matter", Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Heading and Paragraph Styles */
h1 {
  font-family: "PanamaBold", Arial, serif;
  font-weight: 700;
  font-size: 2.5rem;
}

h2 {
  font-family: "Matter", Arial, serif;
  font-weight: 500;
  font-size: 2rem;
}

h3 {
  font-family: "Matter", Arial, serif;
  font-weight: 100;
  font-size: 1.75rem;
}

p {
  font-family: "Matter", Arial, sans-serif;
  font-weight: 200;
  font-size: 1.08rem;
}
